:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Sora", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #F6F5FC;
}

a {
  color: inherit;
  text-decoration: none;
}
