.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 6rem;
}

.main {
  font-family: var(--font-mono);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 20rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26.25rem;
  gap: 0.75rem;
}

.label {
  width: 24.375rem;
}

.labelText {
  font-size: 1.5rem;
}

.checkbox {
  transform: scale(2.3);
  margin-left: 0.9375rem;
  color: red;
}

.input {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
  font-family: var(--font-mono);
}

.saveButton {
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 0.6rem;
  font-family: var(--font-mono);
  cursor: pointer;
  color: white;
  background-color: #6674F4;
}

.saveButton:hover {
  background-color: #5468d4;
}

.title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

